* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#uqcrowd-analytics {
    position: fixed;
    width: 480px;
    top: 20px;
    right: -430px;
    z-index: 9999;
}

#uqcrowd-analytics.show {
    right: 0;
}

#uqcrowd-analytics .row {
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    border-top: none;
}

#uqcrowd-analytics .col {
    display: inline-block;
    width: 235px;
}

#uqcrowd-analytics .title {
    font-family: sans-serif;
    padding-top: 2px;
    color: white;
    font-weight: bold;
    background: black;
}

#uqcrowd-analytics .title span {
    display: inline-block;
    margin: 5px 10px;
    padding: 3px;
    cursor: pointer;
    user-select: none;
}
