<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://dke-uqcrowd-log.uqcloud.net/logger/logger.js"></script>
<!--<script src="../js/logger.js"></script>-->

<script>
    function validationCheck() {

        if ($("#model-air:checked").length + $("#model-pro:checked").length === 0 ) {
            $("#label-error").text("You must select the appropriate model!");
            return false;
        }

        if ($("#year").val() == "0" || $("#screensize").val() == "0") {
            $("#label-error").text("You must choose the year and screen size!");
            return false;
        }

        if ($("#specification").val().trim() == "") {
            $("#label-error").text("Please guess the specification!");
            return false;
        }

        arr = []
        $(":checkbox[name='nearby']").each(function() {
            arr.push($(this).val())
        })

        if (arr.length === 0) {
            $("#label-error").text("Please select the nearby devices, otherwise, please choose nothing!");
            return false;
        }


        $("#label-error").text("");
        return true;

    }

    $(document).ready(function() {
        // Hide mturk's submit button
        $("#submitButton").hide();

        // Disable the customized submit button and
        var wait = 9;
        $("#button-submit").addClass("disabled");
        $("#button-submit").text("Submit (" + wait + ")");

        // Countdown to enable submit button
        var downloadTimer = setInterval(function() {
            $("#button-submit").text("Submit (" + --wait + ")");
            if (wait <= 0) {
                clearInterval(downloadTimer);
                $("#button-submit").text("Submit");
                $("#button-submit").removeClass("disabled");
            }
        },1000);

        // Clear other checkbox when "Nothing" is checked
        $("#nearby-none").on("click", function() {
            $(":checkbox[name='nearby']").prop("checked", false);
            $(this).prop("checked", true);
        });

        // Clear "Nothing" checkbox when others are checked
        $(":checkbox[name='nearby']").on("click", function() {
            $("#nearby-none").prop("checked", false);
        });


        // Track Checkbox Input Value Changes
        $(":checkbox").on("click", function() {
            name = $(this).attr("name");
            arr = []
            $(":checkbox:checked").each(function() {
                arr.push($(this).val())
            })
            send_log("html_event", "change_value", {
                element_tag: $(this).prop("tagName").toLowerCase(),
                element_name: $(this).attr("name"),
                element_id: $(this).attr("id"),
                input_type: "checkbox",
                value: arr.join("|")
            });
        });

        // Track hover on image event
        $("img").on("mouseover", function() {
            send_log("html_event", "mouseover", {
                element_tag: $(this).prop("tagName").toLowerCase(),
                element_name: $(this).attr("name"),
                element_id: $(this).attr("id"),
            });
        });

        // Validate and submit the form
        $("#button-submit").on("click", function(){

            if ($(this).hasClass("disabled")) {
                return false;
            }

            console.log("check");
            console.log(validationCheck());

            if (validationCheck()) {
                console.log("clicked")
                $("#submitButton").trigger("click");
            }
            console.log("not clicked")
        });

    });
</script>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section {
        background: #eee;
        width: 720px;
        text-align: center;
        padding: 0 10px 20px 10px;
    }
    img {
        width: 100%;
    }
    label {
        font-family: sans-serif;
    }
    input {
        margin-left: 20px;
    }
    select {
        margin-right: 20px;
        font-size: 0.9em;
    }
    h2 {
        background: #444;
        color: white;
        padding: 10px
    }
    h3 {
        background: #ccc;
        padding: 5px;
    }
    h3 span {
        color: #e33;
        font-weight: normal;
    }
    textarea {
        width: 80%;
        height: 100px;
        font-size: inherit;
        resize: none;
        padding: 5px;
        margin: 5px;
    }
    #button-submit {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: inherit;
        font-weight: bold;
        background-color: #fff;
        border: 1px solid #555;
        user-select: none;
    }
    #button-submit:hover {
        background-color: #444;
        color: white;
        cursor: pointer;
    }
    #button-submit.disabled {
        color: #bbb;
        border: 1px solid #bbb;
    }
    #button-submit.disabled:hover {
        background-color: #fff;
        cursor: default;
    }

    #label-error {
        margin-top: 10px;
        display: block;
        color: #e33;
    }
</style>

<main>
    <section>
        <h2>Determine the MacBook model and find the surrounding <br> Apple products in the following image</h2>
        <img src="${image_url}">
        <!--<img src="../data/macbook/pexels-photo-273222.jpeg">-->
    </section>
    <section>
        <h3>Please choose the most appropriate model <span>(required)</span></h3>
        <input type="radio" id="model-air" name="model" value="macbook-air">
        <label for="model-air">MacBook Air</label>
        <input type="radio" id="model-pro" name="model" value="macbook-pro">
        <label for="model-pro">MacBook Pro</label>
    </section>
    <section>
        <h3>Please choose best match year and screensize <span>(required)</span></h3>
        <label>Year: </label>
        <select id="year" name="year">
            <option value="0">-</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">Earlier</option>
        </select>
        <label>Screensize: </label>
        <select id="screensize" name="screensize">
            <option value="0">-</option>
            <option value="11">11 inches</option>
            <option value="13">13 inches</option>
            <option value="15">15 inches</option>
            <option value="17">17 inches</option>
        </select>
    </section>
    <section>
        <h3>Please tick any nearby Apple products if there are <span>(required)</span></h3>
        <input type="checkbox" id="nearby-none" name="nearby-none" value="none">
        <label for="nearby-none"l>Nothing</label>
        <input type="checkbox" id="nearby-iphone" name="nearby" value="iphone">
        <label for="nearby-iphone">iPhone</label>
        <input type="checkbox" id="nearby-ipad" name="nearby" value="ipad">
        <label for="nearby-ipad">ipad</label>
        <input type="checkbox" id="nearby-imac" name="nearby" value="imac">
        <label for="nearby-imac">iMac</label>
        <input type="checkbox" id="nearby-watch" name="nearby" value="watch">
        <label for="nearby-watch">Apple Watch</label>
    </section>
    <section>
        <h3>Please guess the detailed specification of this MacBook <span>(required)</span></h3>
        <label>Example: CPU Model, Memory Capacity, HDD/SSD Storage</label>
        <textarea id="specification" name="specification"></textarea>
    </section>
    <section>
        <label id="button-submit">Submit</label>
        <label id="label-error">&nbsp</label>
    </section>
</main>


